@font-face {
	font-family: "Wix Madefor Display";
	src: url("../assets/fonts/WixMadeforDisplay.ttf") format("truetype");
	font-weight: 400 800;
	font-style: normal;
}

@font-face {
	font-family: "Fredoka";
	src: url("../assets/fonts/Fredoka.ttf") format("truetype");
	font-weight: 300 700;
	font-style: normal;
}
