html,
body,
#app {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	user-select: none;
}

#app,
button {
	font-family: "Wix Madefor Display", var(--font-generic), sans-serif;
	color: var(--paws-color-text-primary);
}

body {
	background-color: var(--paws-color-bg-lighter);
}
